<div class="container d-flex justify-content-center mt-5 col-lg-4 ">
    <img src="../../assets/chuckHome.jpeg" alt="chuck Image" style="height: 30rem;">

</div>

<div class="container d-flex flex-column justify-content-center mt-4 col-lg-4">

        <button (click)="setState()" class="btn btn-primary ">See more Info</button>
            <p class="text-center mt-3" *ngIf="state">Hello, here is my final project, where I'm consulting an API of Chuck Norris, this projects was builded with Angular, Bootstrap. So, you could go for it and see some jokes of Chuck Norris.
            </p>

</div>